<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
    <style>
         .name{
             background-color: deeppink;
             text-align: center;
         }
         .buton{
             width: 130px;
             height: 60px;
             padding:20px;
             font:16px;
             text-align: center;
         }
    </style>
</head>
<body  class="name" >
    <div>
        <h1>WELCOME</h1>
    </div>
    <div >
        <a href="add">
            <button class="buton">
                HOME PAGE
            </button></a>
    </div>
    
</body>
</html>